* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#calculator {
    background-color: black;
    display: inline-block;
    width: 250px;
    padding: 20px;
    margin: 0 auto;
    top: 10px;
}

#display {
    background-color: gray;
    color: white;
    font-size: 2.5rem;
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row {
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: gray;
}

.operator {
    background-color: darkorange;
}

.operator:active {
    background-color: orange;
}

#equals {
    width: 100%;
    border-radius: 1.5rem;
    background-color: white;
    color: black;
}

#equals:active {
    background-color: white;
}